/* Styling Container */
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    padding-bottom: 180px;
}

/* Styling Card */
.card2 {
    background: #071a2d; 
    color: #dde99a; 
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 50%; 
}
.card2 label{

    color: #dde99a; /* Warna teks */
}

/* Styling Input & Select */
.input, .select select {
    background: #dde99a;
    color: #071a2d;
    border: none;
}

/* Styling Button */
.button.is-success {
    background: #4caf50;
    color: white;
    border-radius: 8px;
    font-weight: bold;
}

.button.is-success:hover {
    background: #388e3c;
}
